<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-register.html">



<dom-module id="my-blog">
  <template>



    <style>

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




    <div name='login-section'>
    <my-login></my-login>
    </div>

    <div name='logoff-section' style='display:none;'>
    <button type="button" name="button" on-click="logoff"> Desconectar </button></span>
    </div>

    <div name='register-section'>
      <my-register></my-register>
    </div>


  <!--<div class="row">
    <div class="col-m-3">Titulo</div>
    <div class="col-m-3">Texto</div>
    <div class="col-m-3">Fecha</div>
    <div class="col-m-3"></div>
  </div> -->

<div name='nuevopost-section' style='display:none;'>

<table>
    <tr>
      <td>
        Usuario
      </td>
      <td>
        Titulo
      </td>
      <td>
        Texto
      </td>
      <td>
        Fecha
      </td>
      <td>
        Autor
      </td>
      <tr>

  <tr>
    <td>
      <input type="text" name="Usuario" value="{{usuario}}" disabled="true">
    </td>
    <td>
      <input type="text" name="Titulo" value="">
    </td>
    <td>
     <input type="text" name="Texto" value="">
    </td>
    <td>
     <input type="text" name="Fecha" value="">
    </td>
    <td>
     <input type="text" name="Autor" value="">
    </td>
    <td>
      <button type="button" name="button2" on-click="guardarPosts"> Guardar </button>
    </td>
  </tr>

</table>
</div>


<div name="administration-section" style='display:none;'>

<span><button type="button" name="button" on-click="loadPostsAdmin"> Administrar mis posts </button></span>

</div>


<select name="tema">
  <option value="La Liga" selected="selected"> La Liga </option>
  <option value="Premier"> Premier </option>
  <option value="Calcio"> Calcio </option>
</select>

<div name="listado-section">

<div class="table-responsive">
  <table class="table table-stripped">
    <tr>
  <!--  <th>Identificador</th> -->
    <th>Titulo</th>
    <th>Texto</th>
    <th>Fecha</th>
    <th>Autor</th>
  </tr>

<template is="dom-repeat" items="[[posts]]">

  <tr>

<!--  <td>{{item._id.$oid}}</td> -->
  <td>{{item.titulo}}</td>
  <td>{{item.texto}}</td>
  <td>{{item.fecha}}</td>
  <td>{{item.autor.nombre}}</td>
  <td><button type="button" id="{{item._id.$oid}}" name="button-detalle" on-click="editarPosts"> Ver detalle </button></td>
  <!--<td><button type="button" id="{{item._id.$oid}}" name="button-editar" on-click="editarPosts"> Editar </button></td>
  <td><button type="button" id="{{item._id.$oid}}" name="button-borrar" on-click="borrarPosts"> Borrar </button></td> -->
</tr>

</template>
</table>
</div>
</div>

<div name="listado-admin-section" style='display:none;'>

  <table>
    <tr>
  <!--  <th>Identificador</th> -->
    <th>Titulo</th>
    <th>Texto</th>
    <th>Fecha</th>
    <th>Autor</th>
  </tr>


<template is="dom-repeat" items="[[posts]]">

  <tr>

  <!---<td>{{item._id.$oid}}</td>-->
  <td>{{item.titulo}}</td>
  <td>{{item.texto}}</td>
  <td>{{item.fecha}}</td>
  <td>{{item.autor.nombre}}</td>
  <td><button type="button" id="{{item._id.$oid}}" name="button-editar" on-click="editarPosts"> Editar </button></td>
  <td><button type="button" id="{{item._id.$oid}}" name="button-borrar" on-click="borrarPosts"> Borrar </button></td>
</tr>

</template>
</table>
</div>

    </template>

    <script>


    Polymer ({

    is:'my-blog',
    created:function(){
      console.log('se lanza esto');
    },
    ready:function(){
      console.log('se lanza aquello');
      var usuarioLogin = sessionStorage.getItem("usuario");
      this.usuario = usuarioLogin;
      console.log(usuarioLogin);
      if (usuarioLogin != null) {
      console.log("Usuario informado");
      console.log(usuarioLogin);
      document.getElementsByName('login-section')[0].style.display='none';
      document.getElementsByName('logoff-section')[0].style.display='block';
      document.getElementsByName('register-section')[0].style.display='none';
      document.getElementsByName('nuevopost-section')[0].style.display='block';
      document.getElementsByName('administration-section')[0].style.display='block';

      };
      this.loadPosts();

    },
    properties: {
      posts: Array,
      post2: Array,
      usuario:String,

    },
    listeners: {

    },
    loadPosts: function(){

      // const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"autor\":{\"nombre\":\"Ezequiel\"}}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      var response;
      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      this.posts = JSON.parse(peticion.responseText);
      console.log('Dentro de la funcion');


    },

    loadPostsAdmin: function(){

      // const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"autor\":{\"nombre\":\"Ezequiel\"}}&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      //const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      var identificador_admin = sessionStorage.getItem("usuario");
      console.log(identificador_admin);
      var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"autor.nombre\":\"";
      URL = URL + identificador_admin + "\"}";
      URL += "&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      console.log(URL);
      var response;
      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      console.log(peticion.responseText);
      this.posts = JSON.parse(peticion.responseText);
      document.getElementsByName('listado-section')[0].style.display='none';
      document.getElementsByName('listado-admin-section')[0].style.display='block';
      console.log('Dentro de la funcion que recupera admin');


    },


    guardarPosts: function(){

      //console.log("Llego a guardar");
      const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C"
        var usuario = document.getElementsByName('Usuario')[0].value;
        var titulo = document.getElementsByName('Titulo')[0].value;
        var texto = document.getElementsByName('Texto')[0].value;
        var fecha = document.getElementsByName('Fecha')[0].value;
        var autor = document.getElementsByName ('Autor')[0].value;
        var peticion = new XMLHttpRequest();
        peticion.open("POST", URL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send('{"nick":"'+usuario+'","titulo":"'+ titulo+'","texto":"'+texto+'","fecha":"'+fecha+'", "autor":{"nombre":"'+autor+'"}}');
        window.location = "blog";

    },

    editarPosts: function(e) {

        var identificador = e.target.id;
        console.log(identificador);
        var accion = e.target.name;
        console.log(accion);
        sessionStorage.setItem ("editar", "si");
        if (accion == "button-detalle")  {
          sessionStorage.setItem ("editar", "no");
        };
        var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={\"_id\":{\"$oid\":\"";
        URL = URL + identificador + "\"}}";
        URL += "&apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
        console.log(URL);
        var response;
        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send();
        this.posts2 = JSON.parse(peticion.responseText);
        var listado = peticion.responseText;
        //var listado1 = JSON.parse(peticion.responseText);
        console.log(listado);
        sessionStorage.setItem("campos-post", listado);
        window.location = "posts-fields";

    },

    borrarPosts: function(a) {

    var identificador2 = a.target.id;
    console.log(identificador2);
    var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts/";
    URL = URL + identificador2;
    URL += "?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
    console.log(URL);
    var response;
    var peticion = new XMLHttpRequest();
    peticion.open("DELETE", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.send();
    window.location = "blog";
    //window.location = "http://www.google.es";
    },

    logoff: function() {

    console.log("entro aqui");
    sessionStorage.removeItem("usuario");
    window.location = "blog";
    },



})

    </script>

</dom-module>
