<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="/bower_components/google-map/google-map.html">
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc"></script>

<dom-module id="my-mapa">

  <template>
    <style>

    </style>
<table>
</table>
  <!--
<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Bienvenido - Inicie sesión</h3>
			  <hr class="colorgraph"><br>
      -->


      <h3>Ubicacion origen del post</h3>

<head>
<title>Obtener Coordenadas a partir de una dirección</title>
<meta charset="utf-8" />



</head>
<body>

 <h1>Obtener Coordenadas a partir de una dirección prueba {{latitud}} {{longitud}}</h1>

 <!--<div id="mapa" style="width: 450px; height: 350px;"> </div>
 <div><p id="coordenadas"></p></div>
 <input type="text" id="search">
<button type="button" value="Buscar Dirección" on-click="mapa.getCoords()">-->
<style>
  google-map {
    height: 100px;
  }
</style>

  <google-map latitude={{latitud}} longitude={{longitud}} api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
  <google-map-marker latitude={{latitud}} longitude={{longitud}} title"Desde aquí escribió Paloma">
  <p>
    Ubicacion del usuario al cuando escribió este post
  </p>
  </google-map-marker>
</google-map>

</body>


    </template>

    <script>
    Polymer ({

    is:'my-mapa',
    created: function(){
    this.ciudad = "MADRID";
    this.latitud = sessionStorage.getItem("latitud");
    this.longitud = sessionStorage.getItem("longitud");
    console.log("Estoy dentro de Polymer Mapa");
    //this.getCoords();



      //this.campos = JSON.parse(campos_aux);

    },

    properties: {
      ciudad: String,
      mapa: Array,
      longitud: String,
      latitud: String,

    },
    listeners: {

    },


     initMap : function() {

     },

    // función que se ejecuta al pulsar el botón buscar dirección
    getCoords : function()
    {
      // Creamos el objeto geodecoder
     var geocoder = new google.maps.Geocoder();
     console.log("He entrado en la funcion");

     var address = "MADRID";
      // Llamamos a la función geodecode pasandole la dirección que hemos introducido en la caja de texto.
     geocoder.geocode({ 'address': address}, function(results, status)
{
      console.log("Sigo en funcion");
      console.log(status);

       if (status == 'OK')
       {
    // Mostramos las coordenadas obtenidas en el p con id coordenadas
       this.latitud = results[0].geometry.location.lat();
       this.longitud =results[0].geometry.location.lng();
       console.log(this.latitud);
       console.log(this.longitud);
     }

});

   },






guardarEdicion: function(e){

  var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C&q={\"_id\":{\"$oid\":\"";
  var identificador = e.target.id;
  URL = URL + identificador + "\"}}";
    var titulo = document.getElementsByName('titulo')[0].value;
    var texto = document.getElementsByName('texto')[0].value;
    var fecha = document.getElementsByName('fecha')[0].value;
    var autor_nombre = document.getElementsByName('autor_nombre')[0].value;
    var autor_apellido = document.getElementsByName('autor_apellido')[0].value;
    var peticion = new XMLHttpRequest();
    peticion.open("PUT", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.send('{"titulo":"'+ titulo+'","texto":"'+texto+'","fecha":"'+fecha+'", "autor":{"nombre":"'+autor_nombre+'","apellido":"'+autor_apellido+'"}}');
    window.location = "blog";



}

})

    </script>

</dom-module>
