<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-mapa.html">
<script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>


<dom-module id="my-posts-fields">
  <template>
    <style>

    </style>
<table>
</table>
<body>
  <!--
<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Bienvenido - Inicie sesión</h3>
			  <hr class="colorgraph"><br>
      -->


      <div name="edicion-titulo"><h3>Modificar campos del post</h3></div>
      <div name="detalle-titulo" style='display:none;'><h3>Detalle campos del post</h3></div>


			<input type="text" id="identificador" name="identificador" placeholder="Username" required="" autofocus="" value={{user}} disabled="true">
			<input type="text" id="titulo" name="titulo" placeholder="titulo" required="" value={{titulo}}>
      <input type="text" id="texto" name="texto" placeholder="texto" required="" value={{texto}}>
      <input type="text" id="fecha" name="fecha" placeholder="fecha" required="" value={{fecha}} size="6">
      <input type="text" id="autor_nombre" name="autor_nombre" placeholder="Nombre autor" required="" value={{autor_nombre}}>
      <input type="text" id="autor_apellido" name="autor_apellido" placeholder="Apellido autor" required="" value={{autor_apellido}}>
      <input type="text" id="ciudad" name="ciudad" placeholder="ciudad" required="" value={{ciudad}}>


      <div name="edicion-button"><p><button type="button" name="button-prueba" id="{{id}}" on-click="guardarEdicion"> Guardar cambios</button></td></div>
      <div name="cerrar-button" style='display:none;'><p><button type="button" name="button-prueba" id="{{id}}" on-click="salirDetalle"> Volver</button></td></div>

      <my-mapa></my-mapa>


			 <!-- <button name="Submit" value="Login" type="Submit" on-click="hacerLogin">Login</button>
            <p>  <span id="mensaje" name="mensaje"></span> </p> -->

</body>


    </template>

    <script>
    Polymer ({

    is:'my-posts-fields',
    ready: function(){
      this.user = sessionStorage.getItem("usuario");
      var campos_aux = sessionStorage.getItem("campos-post");
      console.log(campos_aux);
      var campos = JSON.parse(campos_aux);
      this.id = campos[0]._id.$oid;
      this.titulo = campos[0].titulo;
      this.texto = campos[0].texto;
      this.fecha = campos[0].fecha;
      this.autor_nombre = campos[0].autor.nombre;
      this.autor_apellido = campos [0].autor.apellido;
      this.ciudad = campos[0].ciudad;
      var control = sessionStorage.getItem("editar");
      if (control == "no"){
        document.getElementsByName('edicion-button')[0].style.display='none';
        document.getElementsByName('cerrar-button')[0].style.display='block';
        document.getElementsByName('edicion-titulo')[0].style.display='none';
        document.getElementsByName('detalle-titulo')[0].style.display='block';
        document.getElementsByName('titulo')[0].disabled='true';
        document.getElementsByName('texto')[0].disabled='true';
        document.getElementsByName('fecha')[0].disabled='true';
        document.getElementsByName('autor_nombre')[0].disabled='true';
        document.getElementsByName('autor_apellido')[0].disabled='true';
        document.getElementsByName('ciudad')[0].disabled='true';

      };

      //this.campos = JSON.parse(campos_aux);

    },
    properties: {
      campos: Array,
      user: String,
      id: String,
      titulo: String,
      texto: String,
      fecha: String,
      autor_nombre: String,
      autor_apellido: String,

    },
    listeners: {

    },


guardarEdicion: function(e){

  var URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C&q={\"_id\":{\"$oid\":\"";
  var identificador = e.target.id;
  URL = URL + identificador + "\"}}";
    var titulo = document.getElementsByName('titulo')[0].value;
    var texto = document.getElementsByName('texto')[0].value;
    var fecha = document.getElementsByName('fecha')[0].value;
    var autor_nombre = document.getElementsByName('autor_nombre')[0].value;
    var autor_apellido = document.getElementsByName('autor_apellido')[0].value;
    var peticion = new XMLHttpRequest();
    peticion.open("PUT", URL, false);
    peticion.setRequestHeader("Content-Type", "application/json");
    peticion.send('{"titulo":"'+ titulo+'","texto":"'+texto+'","fecha":"'+fecha+'", "autor":{"nombre":"'+autor_nombre+'","apellido":"'+autor_apellido+'"}}');
    window.location = "blog";



},

salirDetalle: function(){

window.location = "blog";


}

})

    </script>

</dom-module>
